body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100px;
    float: left;
}

aside .logo {
    font-size: 17px;
    margin-left: 5px;
    font-wieght: bold;
    position: relative;
    top: 33px;
}
 aside h3 {
    margin-top: 40px;
    font-size: 30px;
}

aside ul{list-style: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 30px;
    transition: transform .2s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05)
}

main .Features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main Features h1{font-size: 50px;}
main Features p {max-width: 400px; margin: 20px auto}